.main {
  color: var(--text-color);
  text-align: center;
  margin: 0px 20px;
}
.main h1 {
    color: var(--purple-color);
}
.main h2{
    color: grey;
}

.cards {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
}
.card {
  background-color: var(--black-color);
  width: 320px;
  height: clamp(520px,41.67vw,600px);
  padding: 0px 40px ;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.01px solid var(--text-color);
  box-shadow: 2px 2px 10px rgba(109, 76, 239, 0.562);

}
.cards span {
    color: rgb(160, 160, 160);
}
span:hover {
    color: rgb(24,25,25);
}
.cards :hover {
    background-color: var(--purple-color);
    color: var(--text-color);
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
    color: var(--text-color) !important; 
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    color: var(--text-color);
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    color: var(--text-color) !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: var(--text-color) !important;
}
.css-ece9u5 {
    margin: 20px 0px;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: var(--text-color) !important;
}
.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.342) !important;
}
.ReactModal__Content {
    background-color: var(--black-color) !important;
    color: var(--text-color) !important;
}
.cost {
    color: var(--text-color);
    text-align: center;
}
button {
    background-color: rgb(24,25,25);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    margin: 10px 0px;
    cursor: pointer;
}
.select {
    text-align: center;
    width: 100%;
}
.btn:hover {
    background-color: var(--text-color);
    color: var(--purple-color);
}
.buyButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buyButtons button {
    margin: 20px;
    margin-bottom: 50px;
    background-color: var(--purple-color);
    color: var(--text-color);
}
@media only screen and (max-width: 450px) {
    .card {
        height: 650px;
    }
}